# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
myenv/
venv/
env/
env.bak/
venv.bak/
*.pyc
*.pyo
*.pyd
__pycache__/

# IDE
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data and Models
data/
models/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Logs and Databases
*.log
*.sqlite3
*.db

# Other
.DS_Store
*.class
*.o
*.ko
*.pyc
*.pyo
*.pyd
*.exe
*.dll
*.obj
*.so
*.dylib
*.bak
*.tmp
*.swp
*~

# Environment variables file
.env

# Node 
node_modules/
package-lock.json

# IMAGES FOR AI FRAUD DETECTION
content/
